<h2><%= link_to "Artists", artists_path %></h2>
<p><%= @artist.name %></p>
<!-- <p><%= @artist.photo_url %></p> -->
<p><%= @artist.nationality %></p>
<img src="<%= @artist.photo_url %>">

<!-- Go to rake routes. then write this w 2 params: what it looks like, wnd where i want to go -->
<h2><%= link_to "Edit this artist", edit_artist_path(@artist) %></h2>
